.container {
    display: flex;
    min-height: 85vh;
    padding: 0 10%;
    align-items: center;
    flex-direction: column-reverse;
    color: #3B5978;
}

.profile {
    width: 100%;
    text-align: center;
    h1 {
        font-weight: normal;
    }
    span {
        font-weight: bold;
        color: #143D66;
    }
    padding-bottom: 5rem;
    margin-top: -1rem;
}

.animation {
    margin: 0;
    width: 100%;
    height: 50vh;
    z-index: -1;
}

.intro {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

@media only screen and (min-width: 600px) {
    .container {
        flex-direction: row;
        padding: 0 10% 10rem 10%;
    }

    .intro {
        font-size: 5rem;
    }

    .profile {
        width: 50%;
        text-align: left;
        padding-bottom: 0;
    }

    .animation {
        width: 50%;
        height: 75vh;
    }
}